/* HEader */
h1, h2 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 20px;
  text-transform: uppercase;
}

#box_jumbo .mcs_star:before,
#box_jumbo .mcs_star:after,
#portfolio .mcs_star:before,
#portfolio .mcs_star:after,
#about .mcs_star:before,
#about .mcs_star:after,
#contact_me .mcs_star:before,
#contact_me .mcs_star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius:2px;
  background-color: white;
  margin: 0 20px;
}

#box_jumbo .mcs_star i,
#portfolio .mcs_star i,
#about .mcs_star i,
#contact_me .mcs_star i {
  font-size: 30px;
  vertical-align: middle;
  padding: 10px 0;
}

/* riutilizzabili */
.mcs_green {
  background-color: #1abc9c;
}

.mcs_text_white {
  color: white;
}

/* hedaer */
 .box_nav{
  height: 90px;
}

.navbar.mcs_navbar{
  background-color: #2c3e50;
  border:0;
  margin-bottom: 0;
  padding: 20px 0;
}

.navbar.mcs_navbar .navbar-header a{
  font-size: 23px;
}

.navbar.mcs_navbar .navbar-brand,
.navbar.mcs_navbar .navbar-nav li a{
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar.mcs_navbar .navbar-nav li a:hover{
  color:#1abc9c;
}

/* jumbotron */

#box_jumbo img{
  max-width: 90%;
}

/* POrtfolio */
#portfolio{
  padding: 40px 0;
}

#portfolio .mcs_star:before,
#portfolio .mcs_star:after {
  background-color: #000;
}

#portfolio img{
  max-width: 100%;
  border-radius: 5%;
  margin: 10px 0;
}

#portfolio .layover {
  position: absolute;
  display: none;
  width: calc( 100% - 30px );
  height: calc( 100% - 20px);
  border-radius: 5%;
  left: 15px;
  top: 10px;
  cursor: pointer;
}

 #portfolio .layover i{
  position: absolute;
  font-size: 70px;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}

#portfolio .focus:hover .layover {
  background-color: rgba(26, 188, 156, 0.7);
  display: inline-block;
}

/* ABOUT */

#about{
  padding: 40px 0;
  background-color: #1abc9c;
}

#about .mcs_star,
#about h2,
#about p{
  color: #fff;
}

#about p{
  line-height: 1.6;
}

#about a,
#about i {
  font-size: 25px;
  color: #fff;
  padding-top: 30px;
}

#about a{
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  text-decoration: none;
}

/* CONTACT ME */
#contact_me .mcs_star:before,
#contact_me .mcs_star:after {
  background-color: #000;
}

#contact_me{
  padding: 25px 0;
}

#contact_me input,
#contact_me textarea{
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: unset;
  box-shadow: unset;
}

#contact_me input,
#contact_me textarea:hover{
  cursor: text;
}

#contact_me button{
  margin-top: 15px;
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  border: none;
  color: white;
}

/* FOOTER */
footer,
footer a{
  color: #fff;
}

footer .box_footer_t{
  background-color:#3a546d ;
  padding: 30px 0;
}

footer .box_footer_b{
  background-color: #2c3e50;
  height: 80px;
}

footer h3{
  margin-top: 30px ;
}

footer h4{
  text-transform: capitalize;
  font-size: 18px;
}

footer a:hover{
  color: #1abc9c;
}

footer i{
  font-size: 18px;
  margin-right: 3px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
}

footer p{
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
}
footer span{
  color: #1abc9c;
}

footer .mcs_copy{
  line-height: 80px;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  footer p{
    font-size: 18px;
  }
  h4{
    font-size: 20px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px){
  footer p{
    font-size: 14px;
  }
}

@media screen and (max-width:420px) {
  #box_jumbo h3{
    font-size: 13px;
  }

  #portfolio .layover i{
    display: none;
  }

  #portfolio .focus:hover .layover {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
  }
}

/* end css */
