.debug [class*='col-']{
  height: 150px;
  background-color: lightblue;
  border:1px solid black;
}

/* DA CANCELLARE */
.hg_contact{
  height: 400px;
}

.head_bg{
  background-color: lightgreen;
}

.hg_jumbo{
  height: 400px;
  background-color: violet;
}

.bcg_intro{
  background-color: blue;
  height: 100px;
}

.border_footer{
  border: 1px solid red;
}

#portfolio{
  padding: 40px 0;
}

#about{
  padding: 40px 0;
  background-color: lightgreen;
}

.box_footer_t{
  background-color:#3a546d ;
}

.box_footer_b{
  background-color: #2c3e50;
}

.bcg_r{
  background-color: red;
}

footer{
  height: 800px;
}

/* /da cancellare */

/* HEader */

h1, h2 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

h2{
  font-size: 40px;
}

/* riutilizzabili */
.mcs_green {
  background-color: #1abc9c;
}

.mcs_text_white {
  color: white;
}

/* hedaer */
 .box_nav{
  height: 90px;
}

.navbar.mcs_navbar{
  background-color: #2c3e50;
  border:0;
  margin-bottom: 0;
  padding: 20px 0;
}

.navbar.mcs_navbar .navbar-header a{
  font-size: 23px;
}

.navbar.mcs_navbar .navbar-brand,
.navbar.mcs_navbar .navbar-nav li a{
  color:white;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar.mcs_navbar .navbar-nav li a:hover{
  color:#1abc9c;
}

/* jumbotron */

#box_jumbo img{
  max-width: 90%;
}

#box_jumbo .mcs_star:before,
#box_jumbo .mcs_star:after,
#portfolio .mcs_star:before,
#portfolio .mcs_star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius:2px;
  background-color: white;
  margin: 0 20px;
}

#box_jumbo .mcs_star i,
#portfolio .mcs_star i {
  font-size: 30px;
  vertical-align: middle;
  padding: 10px 0;
}

#box_jumbo h3{
  font-size: 20px;
  text-transform: uppercase;
}

/* POrtfolio */

#portfolio .mcs_star:before,
#portfolio .mcs_star:after {
  background-color: #000;
}

#portfolio img{
  max-width: 100%;
  border-radius: 5%;
  margin: 10px 0;
}

#portfolio .layover {
  position: absolute;
  display: none;
  width: 92%;
  height: 93%;
  border-radius: 5%;
  background-color: #f00;
  left: 16px;
  top: 10px;
}

 #portfolio .layover i{
  position: absolute;
  font-size: 70px;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}

#portfolio .focus:hover .layover {
  background-color: rgba(26, 188, 156, 0.7);
  display: inline-block;
}


@media screen and (max-width:420px) {
  #box_jumbo h3{
    font-size: 13px;
  }
  
  #portfolio .layover{
    display: none;
  }
}

/* end css */
